.gradle
/build/
/target/
!gradle/wrapper/gradle-wrapper.jar
/node_modules
/infrastructure/.terraform/
bin/contractTest/
bin/functionalTest/
bin/integrationTest/
bin/main/
bin/smokeTest/
bin/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
yarn.lock
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.editorconfig
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/pacts/

### Python Scripts output dirs ###
bin/utils/python_scripts/input_csv_files/
bin/utils/python_scripts/output_csv_files/
bin/utils/python_scripts/output_jsons/
bin/utils/python_scripts/__pycache__/

.mirrord
