version: '3'

services:
  ia-case-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    networks:
      - compose_default
    image: hmcts/ia-case-api
    container_name: ia-case-api
    environment:
      JAVA_OPTS:
      # these environment variables are used by java-logging library
      JSON_CONSOLE_PRETTY_PRINT:
      ROOT_APPENDER:
      ROOT_LOGGING_LEVEL:
      REFORM_SERVICE_TYPE:
      REFORM_SERVICE_NAME:
      REFORM_TEAM:
      REFORM_ENVIRONMENT:
      LOGBACK_DATE_FORMAT:
      LOGBACK_REQUIRE_THREAD:
      LOGBACK_REQUIRE_ALERT_LEVEL: "false"
      LOGBACK_REQUIRE_ERROR_CODE: "false"
      # Application environment variables
      CCD_GW_URL: http://ccd-api-gateway-web:3453
      IDAM_URL: http://idam-api:8080
      IA_IDAM_REDIRECT_URI: http://idam-api
      S2S_URL: http://service-auth-provider-api:8080
      CCD_URL: http://ccd-data-store-api:4452
      CCD_CASE_ACCESS_URL: http://ccd-data-store-api:4452
      DM_URL: http://dm-store:8080
      POSTGRES_HOST: "ccd-shared-database"
      POSTGRES_PORT: 5432
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD:
      POSTGRES_NAME: ia_case_api
      IA_CASE_DOCUMENTS_API_URL: http://ia-case-documents-api:8092
      IA_CASE_NOTIFICATIONS_API_URL: http://ia-case-notifications-api:8093
      IA_CASE_PAYMENTS_API_URL: http://ia-case-payments-api:8096
      IA_HOME_OFFICE_INTEGRATION_API_URL: http://ia-home-office-integration-api:8094
      IA_IDAM_CLIENT_ID:
      IA_IDAM_SECRET:
      IA_S2S_MICROSERVICE:
      IA_S2S_SECRET:
      IA_SYSTEM_USERNAME:
      IA_SYSTEM_PASSWORD:
      IA_EM_STITCHING_ENABLED:
      IA_DOCMOSIS_ENABLED:
      IA_SUBMIT_HEARING_REQUIREMENTS_ENABLED:
      CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api:4455
      IA_HEARINGS_API_URL: http://ia-hearings-api:8100
      IA_GOV_NOTIFY_KEY:
      IA_BAIL_GOV_NOTIFY_KEY:
    external_links:
      - idam-api
      - dm-store
      - ccd-shared-database
      - ccd-api-gateway-web
      - ccd-data-store-api
      - service-auth-provider-api
      - stitching-api
      - ia-case-documents-api
      - ia-case-notifications-api
      - ia-case-payments-api
      - ia-home-office-integration-api
    ports:
      - ${SERVER_PORT:-8090}:${SERVER_PORT:-8090}
networks:
  compose_default:
    external: true
