server:
  port: ${PORT:8090}

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: Immigration & Asylum case API
  jackson.date-format: yyyy-MM-dd

legalRepresentativeBuildCase.dueInDays: 28
legalRepresentativeHearingRequirements.dueInDays: 5
legalRepresentativeReview.dueInDays: 5
requestRespondentEvidence.dueInDays: 14
requestRespondentReview.dueInDays: 14

core_case_data_api_url_template: "/caseworkers/{uid}/jurisdictions/{jid}/case-types/{ctid}/cases"
core_case_data_api_metatdata_url: "/caseworkers/{uid}/jurisdictions/{jid}/case-types/{ctid}/cases/pagination_metadata"

appealReferenceSequenceSeed: 50000

cache:
  appealReferenceNumbers:
    expirationTimeInSeconds: 60

defaultHearingCentre: taylorHouse
hearingCentreCatchmentAreas:
    manchester:
      - "L"
      - "LA"
      - "M"
      - "OL"
      - "PR"
      - "SK"
      - "WA"
      - "WN"
    taylorHouse:
      - "BN"
      - "CB"
      - "CM"
      - "HP"
      - "IP"
      - "ME"
      - "N"
      - "NR"
      - "RH"
      - "SE"
      - "TN"
      - "W"

documentsApi:
  endpoint: ${IA_CASE_DOCUMENTS_API_URL:http://127.0.0.1:8092}
  aboutToSubmitPath: "/asylum/ccdAboutToSubmit"

notificationsApi:
  endpoint: ${IA_CASE_NOTIFICATIONS_API_URL:http://127.0.0.1:8093}
  aboutToSubmitPath: "/asylum/ccdAboutToSubmit"

ia_system_user: ${IA_SYSTEM_USERNAME:system-user}
ia_system_user_password: ${IA_SYSTEM_PASSWORD:system-password}

security:
  anonymousPaths:
    - "/health"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/asylum/ccdAboutToSubmit/"
  authorisedServices:
    - "ccd"
    - "ccd_data"
    - "ccd_gw"
    - "ccd_ps"
    - "iac"
  authorisedRoles:
    - "caseworker-ia"
  roleEventAccess:
    caseworker-ia-legalrep-solicitor:
      - "startAppeal"
      - "editAppeal"
      - "submitAppeal"
      - "buildCase"
      - "submitCase"
    caseworker-ia-caseofficer:
      - "sendDirection"
      - "changeDirectionDueDate"
      - "requestHearingRequirements"
      - "requestRespondentEvidence"
      - "uploadRespondentEvidence"
      - "requestRespondentReview"
      - "addAppealResponse"

### dependency configuration
auth.idam.client.baseUrl: ${IDAM_URL:http://127.0.0.1:4501}
auth.idam.client.detailsUri: "/details"
auth.idam.client.id: ${IA_IDAM_CLIENT_ID:ia}
auth.idam.client.secret: ${IA_IDAM_SECRET:something}
auth.idam.client.redirectUri: ${IA_IDAM_REDIRECT_URI:http://localhost}
auth.provider.service.client.baseUrl: ${S2S_URL:http://127.0.0.1:4502}
core_case_data_api_url: ${CCD_URL:http://127.0.0.1:4452}
document_management.url: ${DM_URL:http://127.0.0.1:4506}
idam.s2s-auth.totp_secret: ${IA_S2S_SECRET:AAAAAAAAAAAAAAAC}
idam.s2s-auth.microservice: ${IA_S2S_MICROSERVICE:ia}
idam.s2s-auth.url: ${S2S_URL:http://127.0.0.1:4502}
