server:
  port: ${PORT:8090}

management:
  endpoint:
    health:
      show-details: "always"
      status:
        http-mapping:
          UP: 200
          DOWN: 503
  endpoints:
    web:
      base-path: "/"
  health:
    probes:
      enabled: true
  services:
    documentsApi:
      uri: ${IA_CASE_DOCUMENTS_API_URL:http://127.0.0.1:8092}/health
      response: '"status":"UP"'
    notificationApi:
      uri: ${IA_CASE_NOTIFICATIONS_API_URL:http://127.0.0.1:8093}/health
      response: '"status":"UP"'
    professionalApi:
      uri: ${PROF_REF_DATA_URL:http://127.0.0.1:8991}/health
      response: '"status":"UP"'
    idam:
      uri: ${IDAM_URL:http://127.0.0.1:4501}/health
      response: '"status":"UP"'
    serviceAuth:
      uri: ${S2S_URL:http://127.0.0.1:4502}/health
      response: '"status":"UP"'
    timedEvent:
      uri: ${IA_TIMED_EVENT_SERVICE_URL:http://127.0.0.1:8095}/health
      response: '"status":"UP"'

spring:
  application:
    name: Immigration & Asylum case API
  main:
    allow-bean-definition-overriding: true
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}/o
        registration:
          oidc:
            client-id: ${IA_IDAM_CLIENT_ID:ia}
            client-secret: ${IA_IDAM_SECRET:something}
      resourceserver:
        jwt:
          jwk-set-uri: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}/o/jwks
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5050}/${POSTGRES_NAME:ia_case_api}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:}
    properties:
      charSet: UTF-8
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      max-wait: 10000
      test-on-borrow: true
      test-on-connect: true
      test-on-idle: true
      validation-query: "SELECT 1"
      time-between-eviction-runs-millis: 10000
      test-while-idle: true
      test-on-return: true
      remove-abandoned: true
      remove-abandoned-timeout: 60
      log-abandoned: true
      abandon-when-percentage-full: 0
  profiles:
    include:
      - postcodes
  flyway.enabled: true
  flyway.baselineOnMigrate: true
  flyway.schemas: ${POSTGRES_NAME:ia_case_api}
  jackson.date-format: yyyy-MM-dd

featureFlag:
  docmosisEnabled: ${IA_DOCMOSIS_ENABLED:false}
  isEmStitchingEnabled: ${IA_EM_STITCHING_ENABLED:false}
  isSubmitHearingRequirementsEnabled: ${IA_SUBMIT_HEARING_REQUIREMENTS_ENABLED:true}
  timedEventServiceEnabled: ${IA_TIMED_EVENT_SERVICE_ENABLED:false}
  isfeePaymentEnabled: ${IA_FEEPAYMENT_ENABLED:false}
  isSaveAndContinueEnabled: ${IS_SAVE_AND_CONTINUE_ENABLED:true}
  isHomeOfficeIntegrationEnabled: ${IA_HOME_OFFICE_INTEGRATION_ENABLED:false}

legalRepresentativeBuildCase.dueInDays: 28
legalRepresentativeBuildCase.dueInDaysFromSubmissionDate: 42
legalRepresentativeHearingRequirements.dueInDays: 5
legalRepresentativeReview.dueInDaysUk: 5
legalRepresentativeReview.dueInDaysOoc: 14
requestRespondentEvidence.dueInDays: 14
requestRespondentReview.dueInDays: 14
appellantReasonsForAppeal.dueInDays: 28

core_case_data_api_url_template: "/caseworkers/{uid}/jurisdictions/{jid}/case-types/{ctid}/cases"
core_case_data_api_metatdata_url: "/caseworkers/{uid}/jurisdictions/{jid}/case-types/{ctid}/cases/pagination_metadata"
core_case_data_api_permissions_path: "/caseworkers/{idamIdOfUserWhoGrantsAccess}/jurisdictions/{jurisdiction}/case-types/{caseType}/cases/{caseId}/users"
core_case_data_api_permissions_revoke_path: "/caseworkers/{idamIdOfUserWhoGrantsAccess}/jurisdictions/{jurisdiction}/case-types/{caseType}/cases/{caseId}/users/{idamOfUserToRevokeAccess}"

core_case_data_api_assignments_url: ${CCD_URL:http://127.0.0.1:4452}
core_case_data_api_assignments_path: "/case-users"

assign_case_access_api_url: ${AAC_URL:http://127.0.0.1:4454}
assign_case_access_api_assignments_path: "/case-assignments"
apply_noc_access_api_assignments_path: "/noc/check-noc-approval"

appealReferenceSequenceSeed: 50000

cache:
  appealReferenceNumbers:
    expirationTimeInSeconds: 60

appealOutOfTimeDaysUk: 14
appealOutOfTimeDaysOoc: 28
ftpaAppellantAppealOutOfTimeDaysUk: 14
ftpaAppellantAppealOutOfTimeDaysOoc: 28
ftpaRespondentAppealOutOfTimeDaysUk: 14
ftpaRespondentAppealOutOfTimeDaysOoc: 28

defaultHearingCentre: taylorHouse

documentsApi:
  endpoint: ${IA_CASE_DOCUMENTS_API_URL:http://127.0.0.1:8092}
  aboutToSubmitPath: "/asylum/ccdAboutToSubmit"
  aboutToStartPath: "/asylum/ccdAboutToStart"

notificationsApi:
  endpoint: ${IA_CASE_NOTIFICATIONS_API_URL:http://127.0.0.1:8093}
  aboutToSubmitPath: "/asylum/ccdAboutToSubmit"
  ccdSubmittedPath: "/asylum/ccdSubmitted"

paymentApi:
  endpoint: ${IA_CASE_PAYMENTS_API_URL:http://127.0.0.1:8096}
  aboutToStartPath: "/asylum/ccdAboutToStart"
  aboutToSubmitPath: "/asylum/ccdAboutToSubmit"

role-assignment-service:
  url: ${ROLE_ASSIGNMENT_URL:http://localhost:8991}

ref-data-case-worker-api:
  url: ${REF_DATA_CASE_WORKER_URL:http://localhost:8991}

homeOfficeApi:
  endpoint: ${IA_HOME_OFFICE_INTEGRATION_API_URL:http://127.0.0.1:8094}
  aboutToSubmitPath: "/asylum/ccdAboutToSubmit"

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/health/readiness"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/favicon.ico"
  authorisedRoles:
    - "caseworker-ia"
    - "citizen"
  roleEventAccess:
    caseworker-caa:
      - "nocRequest"
    caseworker-approver:
      - "removeRepresentation"
      - "removeLegalRepresentative"
    caseworker-ia-legalrep-solicitor:
      - "startAppeal"
      - "editAppeal"
      - "submitAppeal"
      - "paymentAppeal"
      - "payAndSubmitAppeal"
      - "buildCase"
      - "submitCase"
      - "uploadAdditionalEvidence"
      - "uploadAddendumEvidenceLegalRep"
      - "draftHearingRequirements"
      - "shareACase"
      - "requestHearingRequirementsFeature"
      - "uploadAddendumEvidenceLegalRep"
      - "applyForFTPAAppellant"
      - "updateLegalRepresentativesDetails"
      - "makeAnApplication"
      - "removeRepresentation"
      - "requestFeeRemission"
      - "nocRequest"
    caseworker-ia-caseofficer:
      - "sendDirection"
      - "changeDirectionDueDate"
      - "requestCaseEdit"
      - "requestHearingRequirements"
      - "requestRespondentEvidence"
      - "uploadRespondentEvidence"
      - "requestRespondentReview"
      - "addAppealResponse"
      - "createCaseSummary"
      - "generateHearingBundle"
      - "customiseHearingBundle"
      - "asyncStitchingComplete"
      - "revertStateToAwaitingRespondentEvidence"
      - "decisionAndReasonsStarted"
      - "generateDecisionAndReasons"
      - "sendDecisionAndReasons"
      - "addCaseNote"
      - "uploadAddendumEvidence"
      - "editCaseListing"
      - "recordApplication"
      - "endAppeal"
      - "reinstateAppeal"
      - "requestCaseBuilding"
      - "forceRequestCaseBuilding"
      - "requestResponseReview"
      - "requestResponseAmend"
      - "requestHearingRequirementsFeature"
      - "removeAppealFromOnline"
      - "reviewHearingRequirements"
      - "listCaseWithoutHearingRequirements"
      - "requestReasonsForAppeal"
      - "requestClarifyingAnswers"
      - "updateHearingRequirements"
      - "updateHearingAdjustments"
      - "editDocuments"
      - "sendToPreHearing"
      - "changeHearingCentre"
      - "reviewTimeExtension"
      - "sendDirectionWithQuestions"
      - "flagCase"
      - "removeFlag"
      - "requestCmaRequirements"
      - "reviewCmaRequirements"
      - "forceCaseToCaseUnderReview"
      - "updateDetailsAfterCma"
      - "forceCaseToSubmitHearingRequirements"
      - "adjournHearingWithoutDate"
      - "restoreStateFromAdjourn"
      - "decisionWithoutHearing"
      - "editAppealAfterSubmit"
      - "linkAppeal"
      - "unlinkAppeal"
      - "editAppealAfterSubmit"
      - "uploadSensitiveDocuments"
      - "requestHomeOfficeData"
      - "decideAnApplication"
      - "requestNewHearingRequirements"
      - "allocateTheCase"
      - "manageFeeUpdate"
      - "removeLegalRepresentative"
      - "recordOutOfTimeDecision"
    caseworker-ia-admofficer:
      - "listCma"
      - "listCase"
      - "recordAttendeesAndDuration"
      - "editCaseListing"
      - "addCaseNote"
      - "sendDecisionAndReasons"
      - "recordAllocatedJudge"
      - "flagCase"
      - "removeFlag"
      - "adjournHearingWithoutDate"
      - "restoreStateFromAdjourn"
      - "decisionWithoutHearing"
      - "listCma"
      - "updateDetailsAfterCma"
      - "linkAppeal"
      - "unlinkAppeal"
      - "uploadAddendumEvidenceAdminOfficer"
      - "uploadSensitiveDocuments"
      - "markAppealPaid"
      - "endAppeal"
      - "reinstateAppeal"
      - "recordRemissionDecision"
      - "manageFeeUpdate"
      - "removeLegalRepresentative"
    caseworker-ia-homeofficeapc:
      - "uploadHomeOfficeBundle"
      - "uploadAdditionalEvidenceHomeOffice"
      - "uploadAddendumEvidenceHomeOffice"
      - "makeAnApplication"
    caseworker-ia-homeofficelart:
      - "uploadHomeOfficeAppealResponse"
      - "uploadAdditionalEvidenceHomeOffice"
      - "uploadAddendumEvidenceHomeOffice"
      - "makeAnApplication"
    caseworker-ia-homeofficepou:
      - "sendDirection"
      - "uploadAdditionalEvidenceHomeOffice"
      - "uploadAddendumEvidenceHomeOffice"
      - "applyForFTPARespondent"
      - "makeAnApplication"
    caseworker-ia-respondentofficer:
      - "uploadHomeOfficeBundle"
      - "uploadHomeOfficeAppealResponse"
      - "uploadAdditionalEvidenceHomeOffice"
      - "uploadAddendumEvidenceHomeOffice"
      - "applyForFTPARespondent"
      - "makeAnApplication"
    citizen:
      - "startAppeal"
      - "editAppeal"
      - "submitAppeal"
      - "buildCase"
      - "submitCase"
      - "uploadAdditionalEvidence"
      - "editReasonsForAppeal"
      - "submitReasonsForAppeal"
      - "submitClarifyingQuestionAnswers"
      - "editTimeExtension"
      - "submitTimeExtension"
      - "editCmaRequirements"
      - "submitCmaRequirements"
    caseworker-ia-iacjudge:
      - "generateDecisionAndReasons"
      - "endAppeal"
      - "reinstateAppeal"
      - "sendDecisionAndReasons"
      - "changeDirectionDueDate"
      - "sendDirection"
      - "addCaseNote"
      - "linkAppeal"
      - "unlinkAppeal"
      - "editAppealAfterSubmit"
      - "updateHearingRequirements"
      - "updateHearingAdjustments"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "uploadSensitiveDocuments"
      - "decideAnApplication"
      - "requestNewHearingRequirements"
    caseworker-ia-system:
      - "requestHearingRequirementsFeature"



### dependency configuration
ccdGatewayUrl: ${CCD_GW_URL:http://localhost:3453}
core_case_data_api_url: ${CCD_URL:http://127.0.0.1:4452}
document_management.url: ${DM_URL:http://127.0.0.1:4506}
idam.s2s-auth.totp_secret: ${IA_S2S_SECRET:AAAAAAAAAAAAAAAC}
idam.s2s-auth.microservice: ${IA_S2S_MICROSERVICE:ia}
idam.s2s-auth.url: ${S2S_URL:http://127.0.0.1:4502}

feign:
  hystrix:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: full

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000
#OpenID
idam:
  baseUrl: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}
  redirectUrl: ${IA_IDAM_REDIRECT_URI:http://localhost:3002/oauth2/callback}
  s2s-auth:
    totp_secret: ${IA_S2S_SECRET:AAAAAAAAAAAAAAAC}
    microservice: ${IA_S2S_MICROSERVICE:ia}
    url: ${S2S_URL:http://127.0.0.1:4502}
  s2s-authorised:
    services: ${IA_S2S_AUTHORIZED_SERVICES:ccd,ccd_data,ccd_gw,ccd_ps,iac}
  ia_system_user:
    username: ${IA_SYSTEM_USERNAME:system-user}
    password: ${IA_SYSTEM_PASSWORD:system-password}
    scope: "openid profile authorities acr roles create-user manage-user search-user"

prof.ref.data.url: ${PROF_REF_DATA_URL:http://localhost:8991}
prof.ref.data.path.org.users: ${PROF_REF_DATA_ORG_USERS_PATH:/refdata/external/v1/organisations/users}
prof.ref.data.path.org.organisation: ${PROF_REF_DATA_ORG_ORGANISATION_PATH:/refdata/external/v1/organisations}

launchDarkly:
  sdkKey: ${LAUNCH_DARKLY_SDK_KEY:sdk-key}
  connectionTimeout: 5000
  socketTimeout: 5000

timed-event-service:
  url: ${IA_TIMED_EVENT_SERVICE_URL:http://127.0.0.1:8095}
