apiVersion: v2
name: ia-case-api
home: https://github.com/hmcts/ia-case-api
version: 0.0.40
description: Immigration & Asylum Case API
maintainers:
  - name: HMCTS Immigration & Asylum Team
    email: ImmigrationandAsylum@HMCTS.NET
dependencies:
  - name: java
    version: 5.0.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: ccd
    version: 8.0.27
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~1.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: ia-case-payments-api
    version: 0.0.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-case-payments-api.enabled
  - name: ia-case-documents-api
    version: 0.0.26
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-case-documents-api.enabled
  - name: ia-case-notifications-api
    version: 0.0.44
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-case-notifications-api.enabled
  - name: ia-home-office-integration-api
    version: 0.0.20
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-home-office-integration-api.enabled
  - name: ia-aip-frontend
    version: 0.0.43
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-aip-frontend.enabled
  - name: ccd-case-document-am-api
    version: 1.7.11
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: em-ccdorc
    version: 2.0.10
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-ccdorc.enabled
  - name: em-stitching
    version: 1.0.31
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-stitching.enabled