apiVersion: v2
name: ia-case-api
home: https://github.com/hmcts/ia-case-api
version: 0.0.45
description: Immigration & Asylum Case API
maintainers:
  - name: HMCTS Immigration & Asylum Team
    email: ImmigrationandAsylum@HMCTS.NET
dependencies:
  - name: java
    version: 5.0.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: ccd
    version: ~9.0.22
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~1.0.16
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: ia-case-payments-api
    version: 0.0.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-case-payments-api.enabled
  - name: ia-case-documents-api
    version: 0.0.26
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-case-documents-api.enabled
  - name: ia-case-notifications-api
    version: 0.0.37
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-case-notifications-api.enabled
  - name: ia-home-office-integration-api
    version: 0.0.20
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-home-office-integration-api.enabled
  - name: ia-aip-frontend
    version: 0.0.43
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-aip-frontend.enabled
  - name: ia-bail-case-api
    version: 0.0.17
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ia-bail-case-api.enabled
  - name: ccd-case-document-am-api
    version: 1.7.11
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: em-ccdorc
    version: 2.0.10
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-ccdorc.enabled
  - name: em-stitching
    version: 1.0.31
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-stitching.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.11
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: aac-manage-case-assignment.enabled
  - name: wa
    version: ~1.0.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: wa.enabled
  - name: servicebus
    version: 1.0.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled
  - name: ccd-message-publisher
    version: ~0.1.11
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-message-publisher.enabled
  - name: redis
    version: ~16.13.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: am-org-role-mapping-service
    version: ~0.0.48
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: am-org-role-mapping-service.enabled
  - name: postgresql
    version: 1.0.2
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: postgresql.enabled
